

/* Estilo del contenedor */
.container {
    background-color: #ffffff;
    padding: 25px 30px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin: auto;
    margin-top: 50px;
}

h1 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    
}

/* Estilo de campos de formulario */
fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #0056b3;
    padding: 0 5px;
}

label {
    font-size: 1em;
    color: #555;
    display: block;
    margin: 8px 0;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo de resultados */
#resultado {
    font-size: 1.4em;
    color: #0056b3; /* Color azul oscuro para destacar */
    background-color: #e6f0ff; /* Fondo azul claro */
    padding: 15px 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
}

#resultado:hover {
    transform: scale(1.05); /* Agranda el texto al pasar el cursor */
}



/* Estilos básicos para el navegador */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(IMAGES/fondoazul2.jpg) no-repeat;
}

/* Estilos para la navegación superior */
.nav-superior {
    display: flex; /* Utiliza flexbox para la alineación */
    justify-content: center; /* Espaciado entre elementos */
    align-items: center; /* Centra verticalmente */        
    background-color: black; /* Fondo de la barra de navegación */
}

/* Estilo para el logo */
.nav-superior img {
    height: 150px; /* Ajusta la altura del logo */
    width: auto; /* Mantiene la proporción */
    cursor: pointer;
}


.nav-principal{
    background-color: #001a52;
}

/* Estilos del nav */
nav {
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}


.logout-btn {
    background-color: #f44336; /* Color de fondo rojo */
    color: white; /* Color del texto */
    padding: 8px 12px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
}

.logout-btn:hover {
    background-color: #d32f2f; /* Color de fondo al pasar el ratón */
}


/* Estilos para el encabezado */
h1 {
    font-size: 2.5em; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    background-color: #dbdbdb; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    margin: 0; /* Elimina márgenes por defecto */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
    display: inline-block; /* Ajusta el fondo al tamaño del texto */
}

/* Línea decorativa debajo del texto */
h1::after {
    content: "";
    display: block;
    width: 50%; /* Ancho de la línea decorativa */
    height: 4px; /* Altura de la línea */
    background-color: #007BFF; /* Color de la línea */
    margin: 10px auto 0; /* Centra la línea decorativa */
    border-radius: 2px; /* Bordes redondeados para la línea */
}

#ubicacionButton {
    padding: 12px;
    background-color: #28a745; /* Verde para indicar acción importante */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

#ubicacionButton:hover {
    background-color: #218838;
}

a {
    text-decoration: none;
}
