#map {
    width: 100%;
    height: 800px;
}

.logout-container {
    margin-left: auto; /* Empuja el botón a la derecha */
}

.logout-btn {
    background-color: #f44336; /* Color de fondo rojo */
    color: white; /* Color del texto */
    padding: 8px 12px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
}

.logout-btn:hover {
    background-color: #d32f2f; /* Color de fondo al pasar el ratón */
}